@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
body {
  text-align: center;
  font-family: 'Borel', cursive;
}
button,input{
  font-family: 'Borel', cursive;
  padding: 10px;
}
button{
  color: white;
  background-color: hotpink;
  border-color: hotpink ;
  padding: 10px 20px;
}
li{
  list-style: none;
  border: 1px solid hotpink;
  margin: 10px auto;
  max-width: 500px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
}


